<script src="https://kit.fontawesome.com/44f15dda1a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/styles/css/style.css" type="text/css" />
<header>
  <div class="header">
    <a href="/" class="header__logo"><img src="/img/logo1.png" alt="" /></a>
    <div class="header__links header__links--desktop">
      <a href="/search" class="hover-underline-animation menu_item">
        <span class="menu_item--text">Szukaj</span
        ><img src="/img/magnifier.svg" alt="magnifier" class="menu_item--icon" />
      </a>
      <a href="/guide/profile" class="hover-underline-animation menu_item">
        <span class="menu_item--text">Profil</span
        ><img src="/img/traveller.svg" alt="traveller" class="menu_item--icon" />
      </a>
    </div>
    <div class="header__links header__links--mobile">
      <div class="burger burger--1"></div>
      <div class="burger burger--2"></div>
      <div class="burger burger--3"></div>
    </div>
  </div>
</header>
<div class="menu menu--mobile">
  <a href="/search" class="menu_item">
    <span class="menu_item--text">Szukaj</span><img src="/img/magnifier.svg" alt="magnifier" class="menu_item--icon" />
  </a>
  <a href="/guide/profile" class="menu_item">
    <span class="menu_item--text">Profil</span><img src="/img/traveller.svg" alt="traveller" class="menu_item--icon" />
  </a>
</div>

<script>
  document.querySelector(".header__links--mobile").addEventListener("touchstart", (e) => {
    document.querySelector(".menu").classList.toggle("active");
    document.querySelectorAll(".menu_item").forEach((item) => item.classList.toggle("active"));
  });
  const burger = document.querySelector(".header__links--mobile");
  burger.addEventListener("touchstart", () => {
    document.querySelector(".burger--1").classList.toggle("--active");
    document.querySelector(".burger--2").classList.toggle("--active");
    document.querySelector(".burger--3").classList.toggle("--active");
  });
</script>
