<div class="loading-screen index--aboveAll active">
  <div class="container">
    <img src="/img/logo_svg.svg" alt="" />

    <div class="container--svg">
      <img src="/img/loading_screen.svg" alt="Ekran ładowania" />
    </div>
    <p class="btn btn--white">Ładowanie <span class="dots">. . .</span></p>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      document.querySelector(".loading-screen").classList.remove("active");
      document.querySelector(".loading-screen").classList.remove("index--aboveAll");
      document.querySelector(".loading-screen").classList.add("index--underAll");
    }, 1000);
  });
</script>
