<% if(profile_pic){%>
<div class="uResult__image">
  <img src="data:image/png;base64, <%= profile_pic %>" />
</div>
<% }else{ %>
<div class="uResult__image">
  <img src="/img/classic_pp.jpg" />
</div>
<% }%>