<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #353535;
      }
      .uResult {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <h1>PROFILE</h1>
      <%- include("../components/header"); %><!-- -->
      <%- include("../components/renderProfile copy", {guide: guide}); %>
    </div>

    <!-- <form method="POST">
      <input type="text" placeholder="login" class="login" name="login" />
      <input type="text" placeholder="password" class="password" name="password" />
      <button>submit</button>
    </form> -->
    <!--  -->
    <% if (typeof libs !== 'undefined') { %> <% for (let lib of libs) { %>
    <script src="/libs/<%= lib %>.js" type="text/javascript"></script>
    <% } } %>
  </body>
</html>
