.wrapper--signin {
  background-color: $green500;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("/img/signin-mobile.svg");

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include m {
    background-image: url("/img/signin-desktop.svg");

    background-size: auto 90vh;
    background-position: center 70%;
  }
}

.window--signin {
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.signin--form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  button {
    margin-top: 20px;
  }
  p {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  a {
    color: $green700;
    display: block;
    margin-top: 5px;
  }
}